<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand px-4 text-secondary" href="/home">EMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active px-4 text-primary" href="/home">Home</a>
      <a class="nav-item nav-link px-4 text-primary" href="/employee/list">Employee List</a>
      <a class="nav-item nav-link px-4 text-primary" href="/department">Department</a>
    </div>
  </div>
</nav>